<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        
        <section class="header" id="header">
            <h1>Blogging Out of My Gourd</h1>
        </section>

        <nav class="sticky">
            <ul class ="list-inline">
                <li><A href="#header">Home</a></li>
                <li><A href="#feed">Activity Feed</a></li>
                <li><a href="#add">Post</a></li>
                <li><a href="#edit">Edit</a></li>
                <li><a href="#delete">Delete</a></li>
            </ul>
        </nav>

        <img src="\images\gourd.jpg" alt="A lovely image of a gourd">
        

        <section id="feed">
            <h2>Activity Feed</h2>
            <ul>
                {% for txt in data%}
                <section class="postBox">
                    {{txt.blog_txt}} <br><hr>
                    <div class="identifiers">Post ID: {{txt.blog_id}} | Posted by: {{txt.blog_username}} <div>
                </section>
                {% endfor%}
            </ul>
        </section>


        <section id="add">
            <h2>Share Your Thoughts</h2>
            <form action="/add" method="POST">
                <div>
                    <label for="blogName">Username:</label>
                    <input name="blogName" id="blogName" value="Anonymous" />
                </div>
                <div>
                    <label for="blog">Blog Content:</label>
                    <textarea name="blog" id="blog" rows="4" cols="50" />Hi this is my blog text!</textarea>
                </div>
                <div class="buttCenter">
                    <button class="button">Send my blog</button>
                </div>
            </form>
        </section>

        
        <section id="edit">
            <h2>Regret Your Words?</h2>
                    <form action="/edit" method="POST">
                <div>
                    <label for="blog">Entry to update:</label>
                    <input name="blogID" id="blogID" value="1" />
                </div>
                <div>
                    <label for="blogContent">New Content:</label>
                    <textarea name="blogContent" id="blogContent" rows="4" cols="50" />New blog text!</textarea>
                </div>
                <div class="buttCenter">
                    <button class="button">Update my blog</button>
                </div>
            </form>
        </section>


        <section id="delete">
            <h2>Make Your Thoughts Disappear</h2>
                    <form action="/delete" method="POST">
                <div>
                    <label for="blog">Blog to delete:</label>
                    <input name="blog" id="blog" value="1" />
                </div>
                <div class="buttCenter">
                    <button class="button">Delete my blog</button>
                </div>
            </form>
        </section>
        
    </body>
</html>